
*{
	padding: 0;
	margin: 0;
	
}

body{
	background-color: black;
   
}

.container{
	margin: 20px 40px;
	color: pink;
	 
}	

.heading{
	font-size: 60px;
	color: white;
}

.profiles{
	display: flex;
	justify-content: space-around;
	margin: 20px 80px;
}

.profile{
	flex-basis: 260px;
}

.profile .profile-image{
	height: 260px;
	width: 260px;
	border-radius: 50%;
	filter: grayscale(100%);
	cursor: pointer;
	transition: 400ms;
}
.profile:hover .profile-image{
    filter: grayscale(0);
}

.user-name{
	margin-top: 30px;
	font-size: 35px;
}

.profile p{
	font-size: 16px;
	margin-top: 20px;
	text-align: justify;
}

*{
	margin: 0;
	padding: 0;
} 
 html{
 	box-sizing: border-box;
 	font-size: 30%;
 }

 body{
 	background-color: #eee;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	min-height: 100vh;
 }

 .gird{
 	display: grid;
 	width: 114em;
 	grid-gap: 6rem;
 	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
 	align-items: start;
 }

 .grid-item {
 	background-color: pink;
 	border-radius: 0.4rem;
 	overflow: hidden;
 	box-shadow: 0 3rem 6rem rgba(0,0,0,0.1);
 	cursor: pointer;
 	transition: 0.2s;
 }
.grid-item:hover{
	transform: translate(-0.5%);
	box-shadow: 0 4rem 8rem rgba(0,0,0,0.5);
}
.card-content{
	padding: 3rem;
}
.card-header{
	font-size: 5rem;
	font-weight: 500;
	color: red;
	margin-bottom: 1.5rem;
	text-align: center;
}
.card-text{
	font-size: 3rem;
	letter-spacing: 0.1rem;
	line-height: 1.7;
	color: #3d3d3d;
	margin-bottom: 2.5rem;


}
.card-btn{
	display: block;
	width: 60%;
	padding: 1.4rem;
	font-size: 2rem;
	text-align: center;
	color: yellow;
	background-color:black;
	border: none;
	border-radius: 0.2rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
	margin-left: 30px;
}
.card-btn span{
	margin-left: 1rem;
	transition: 0.2s;
}
.card-btn:hover,
.card-btn:active {
      background-color: green;
}
.card-btn:span,
.card-btn:span{
	margin-left: 1.5rem;
} 
@media only screen and (max-width: 60em){
	body{
		padding: 3rem;
	}
	.gird{
       grid-gap: 3rem;
	}
}
